@page
@model Valuator.Pages.LoginPage
@{
    ViewData["Title"] = "Вход";
}

<h2>Вход</h2>

<form method="post">
    <div class="mb-3">
        <label for="login">Логин</label>
        <input asp-for="Login" class="form-control" id="login" required />
    </div>
    <div class="mb-3">
        <label for="password">Пароль</label>
        <input asp-for="Password" type="password" class="form-control" id="password" required />
    </div>
    <button type="submit" class="btn btn-primary">Войти</button>
</form>
